
<section *ngIf="student && student.studentNumber">
    <h1>{{student.studentNumber}}</h1>
    <div *ngIf="allowEdit">
        <a [routerLink]="['/students', student._id, 'edit']">edit</a>
        <button (click)="delete()">delete</button>
    </div>
   <div>
    <table>
        <tr>
           <td>First Name:</td><td>{{student.firstName}}</td>
        </tr>
        <tr>
            <td>Last Name:</td><td>{{student.lastName}}</td>
        </tr>
        <tr>
            <td>Password:</td><td>{{student.password}}</td>
        </tr>
        <tr>
            <td>Email:</td><td>{{student.email}}</td>
        </tr>
        <tr>
            <td>Address:</td><td>{{student.address}}</td>
        </tr>
        <tr>
            <td>City:</td><td>{{student.city}}</td>
        </tr>
        <tr>
            <td>Phone:</td><td>{{student.phone}}</td>
        </tr>
        <tr>
            <td>Program:</td><td>{{student.program}}</td>
        </tr>

    </table>
   </div>
</section>